/* Responsive Styles text-photo section*/
@media (max-width: 768px) {
    #text-photo-section .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #text-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Responsive Styles technology and projecs */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    #project-list .project {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    #project-list .project {
        width: 100%;
    }



    #skills ul li img {
        width: 16px;
        height: 16px;
    }
}